<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.1/angularfire.min.js"></script>
    <script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
    <script>ZiggeoApi.token = "2cdc6906da906aa6712a37e2ec83e045";</script>
    <script src="index.js"></script>
    <script src="recorder.js"></script>
</head>
<body ng-app="sampleApp">

<div ng-controller="ChatCtrl">
    <ul class="chatbox">
        <li ng-repeat="message in messages">{{ message.from }}: {{ message.content }}</li>
    </ul>
    <form ng-submit="addMessage()">
        <input type="text" ng-model="message">
        <input type="submit" value="Add Message">
    </form>
    <ziggeo ziggeo-width=320
            ziggeo-height=240>
    </ziggeo>
</div>
</body>
</html>